.wrapper {
    position: relative;
}

.sky {
    background-color: #9eb8e9;
    top: 0px;
    height: 20vh;
    position: absolute;
    z-index: 0;
}

.hills {
}

.field {
    background-color: #00cba9;
    height: 100vh;
}