.sky {
    background-color: #9eb8e9;
    height: 200px;
    position: relative;
    z-index: 0.5;
}

.hills {
    position: absolute;
    top: 200px;
    z-index: 1;
}

.field {
    background-color: #00cba9;
    height: 100vh;
}